header {
  height: 90px;
  width: 100%;
  background: red;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

}

header > div {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  background: green;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  min-width: 400px;
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  font: 22px;
}

header div button{
  display: none;
  
}

@media screen and (max-width: 700px){
  header nav {
    min-height: 100vh;
    background: rgb(56, 56, 56);
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(300px, 0);
    transition: 0.4s;
    transition-timing-function: ease-in-out;

  }

  header .show {
    transform: translate(0, 0);
  }

  header div button {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
    z-index: 1;
  }
  /* min-width: 400px;
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center; */

  header nav ul {
    padding-top: 90px;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
  }

  
}